.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #ffffff;
	color: #2c3e50;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
	color: #1e88e5;
}

.hljs-template-tag {
	color: #4299e1;
}

.hljs-number {
	color: #38b2ac;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
	color: #0284c7;
}

.hljs-literal {
	color: #60a5fa;
}

.hljs-subst {
	color: #94a3b8;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
	color: #4f46e5;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
	color: #818cf8;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
	color: #10b981;
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
	color: #64748b;
}

.hljs-emphasis {
	font-style: italic;
	color: #3b82f6;
}

.hljs-strong {
	font-weight: bold;
	color: #2563eb;
}
