@import "tailwindcss";

:root {
	--r-link-color: black;

	--main: oklch(0.701 0.1307 255.58);
}

/*
 * 不要让 Reveal.js 的标题自动大写
 */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	text-transform: none;
}

#root {
	text-underline-offset: 4px;
}

.reveal ul {
	list-style: none;
	padding-left: 20px;
}

.reveal ul li::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: var(--main);
	margin-right: 10px;
	border-radius: 2px;
}

@layer base {
	/* Reverts a preflight rule on hidden that breaks some reveal.js */
	[hidden] {
		display: revert !important;
	}
}
